<div class="row well">
  <div class="span12">
    <div class="video-caller-info">
      <%= fake_name(["Assaf Goldstein", "Idan Nachimov","Amit Goldstein"]) %> | 
      <span class="video-caller-description">
        <%= lorem(2) %>
      </span>
    </div>
    <hr/>
    <%= raw fake_user_image(100) %>
    <hr/>
    <%= link_to raw("<i class='icon-check'></i> task") %> 
  </div>
</div>
