<h3>Site Pages visited today</h3>
<table class="table">
  <tr>
    <th width="140px"> From </th>
    <th > Email </th>
    <th > Location </th>
  </tr>

  <tr>
    <td width="140px"> Assaf Goldstein </td>
    <td> <%= rand(20)%> </td>
    <td> <%= "Toronto" %>  </td>
  </tr>

  <tr>
    <td width="140px"> snother users </td>
    <td> <%= rand(20)%> </td>
    <td> <%= "Toronto" %>  </td>
  </tr>
</table>