<hr/>
<h1> Server IT Report </h1>

<div class="report well">
  <%= render "server_daily_status"  %>
</div>

<hr/>
<h1> Marketing Report </h1>
  

<div class="report well">
  <%= render "marketing_report"  %>
</div>




<hr/>
<h1> Project Summary  Report </h1>
<div class="report well">
  <%= render "project_summary"  %>
</div>


<style>

  .report {

  }

  .report h3{
    font-size:13px;
    color:#1e90ff;
  }

  .report p{

  }

</style>