<div class="row">
  <% if current_user.customer? %>
  <h5> Customer Stories to Approve</h5>
  <%= render "shared/fake_stories_with_action" , :locals => { :action_name => "Approve!"}%>
  <hr/>
  <% end %>
  
  <% if current_user.developer? %>

    <h5> Developer Stories to Estimate</h5>
    <%= render "shared/fake_stories_with_action" , :locals => { :action_name => "Estimate"}%>
    <hr/>

    <h5> Developer | Testers Stories to implement</h5>
    <%= render "shared/fake_stories_with_action" , :locals => { :action_name => "Test"}%>
    <hr/>
  <% end %>

  <h5>Pending questions</h5>
  <%= render "shared/fake_questions" %>
  <hr/>
  
</div>