<% if @user.id == current_user.id %>
  <h5> Current Stories</h5>
  <%= render "shared/fake_stories" %>
  <hr/>
  <%= render "work_to_do" %>
  


<% else %>
  <%= render "public_profile" %>
<% end %>


<%= render "sidebar" %>
