<div class="row">
  <div class="span3">
    <% for user in User.limit(5) %>
      <a href="#" class="xbtn xbtn-danger" 
         data-toggle="popover" 
         data-placement="bottom"
         title="<%= user.name %>" 
         data-content="<%= raw(user.communication_links)  %> " 
         data-original-title="A Title"><%= image_tag(user.picture_url , :size => "32x32")%>
      </a>
       <% end %>
  </div>
  <hr/>
</div>



<style>
  .users_on_sidebar{

  }

  .users_on_sidebar .user-name{
    font-size: 12px;
    font-weight: bolder;
    line-height: 14px;
    color:#006400;

  }
  .users_on_sidebar .user-commands{
    font-size: 10px;
    line-height: 14px;
    color:#1e90ff;
  }
</style>