<table class="table-striped">

  <% 5.times do  %>
    <tr valign="top">
      <td width="32"><%= image_tag "/assets/fake_user.png", :size => "32x32" %></td>
      <td>
        <b>Song Name</b><br/>
          Band: Pink Floyd  Genere: Rock Mixed by: Assaf416 
      </td>
    </tr>
  <% end %>
</table>