
<table class="table">
  <% for user in User.all do   %>
    <tr>
      <td width="50px"> <%= image_tag(user.picture_url , :size => "50x50") %> </td>
      <td>
        <b><%= link_to user.name , user%></b><br/>
        <p><%= link_to user.email, user %></p>
      </td>
    </tr>
  <% end %>
</table>