<table class="table-striped">

  <% 5.times do  %>
    <tr valign="top">
      <td width="32"><%= image_tag "/assets/fake_user.png", :size => "32x32" %></td>
      <td>
        <b>Some Name</b><br/>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod 
      </td>
    </tr>
  <% end %>
</table>