<h5> Build Machine  Status</h5>
<pre>
  IP: 10.2.3.4 | RAM:2GB | CPU: 1 | MEM USAGE: 34% | CPU USAGE: 61%
</pre>

<h5> Customer Test results </h5>
<%= lorem(30) %>
<hr/>

<h5> Code coverage </h5>
<%= lorem(30) %>
<hr/>
