<% @task = Task.new %>
<%= simple_form_for(@task) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <table class="table">
      <tr>
        <td width="90%">
          <textarea style="width:450px;height:80px;"><%= @task.description %></textarea>
        </td>
        <td width="10%">
          Estimation
          <div class="btn-group">
            <button class="btn">0</button>
            <button class="btn">1</button>
            <button class="btn">2</button>
            <button class="btn">3</button>
            <button class="btn">Spike</button>
          </div>
          <%#= f.input :estimation %>
          <%= f.button :submit %>
        </td>
      </tr>
    </table>
  </div>

<% end %>