


<div id="editStoryTestForm"class="modal edit_story_test_modal xxx fade">
  <%= simple_form_for(@story) do |f| %>

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Edit Story Test</h3>
    </div>
    <div class="modal-body">
      <%= f.error_notification %>

      <div class="form-inputs">
        <div class="row">
          <div class="span6">
            <table class="table">
              <tr>
                <td colspan="2">
                  <%= f.input :description , :label => "Test"%>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <%= f.button :submit %>
    </div>
    
  <% end %>

</div>


<style>
  .edit_story_test_modal{ height:620px; width:600px;}
</style>