<div class="row">
  <div class="span8">
    <div class="pull-right"> <h5><%= @story.estimation %> points </h5></div>
    <h5> Story Tasks </h5>
    <%= render "add_task" %>
    <%= render "story_tasks"  %>
  </div>
</div>