<!-- OUR CUSTOMERS -->
<h2> Our Customers</h2>


<div class="row">
  <div class="col-6 col-sm-6 col-lg-4">
    <h2>Check Point</h2>
    <img src="/assets/public/customer-checkpoint.png", width="100" ><br/>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn btn-default" href="#">View details »</a></p>
  </div><!--/span-->
  <div class="col-6 col-sm-6 col-lg-4">
    <h2>DBM Investment House</h2>
    <img src="/assets/public/customer-dbm.png", width="100" ><br/>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn btn-default" href="#">View details »</a></p>
  </div><!--/span-->
  <div class="col-6 col-sm-6 col-lg-4">
    <h2>Israeli Ministry of education</h2>
    <img src="/assets/public/customer-mof.png", width="100" ><br/>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn btn-default" href="#">View details »</a></p>
  </div><!--/span-->
  <div class="col-6 col-sm-6 col-lg-4">
    <h2>John bryce college</h2>
    <img src="/assets/public/customer-johnbryce.png", width="100" ><br/>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn btn-default" href="#">View details »</a></p>
  </div><!--/span-->
  <div class="col-6 col-sm-6 col-lg-4">
    <h2>Avidov software development house</h2>
    <img src="/assets/public/customer-avidov.png", width="100" ><br/>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn btn-default" href="#">View details »</a></p>
  </div><!--/span-->
  <div class="col-6 col-sm-6 col-lg-4">
    <h2>Heading</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn btn-default" href="#">View details »</a></p>
  </div><!--/span-->
</div>
