<hr class="featurette-divider">

<div class="featurette">
  <img class="xfeaturette-image ximg-circle pull-right"  src="/assets/public/slider-img2.png" xdata-src="/assets/public/holder.js/slider-img1" alt="512x512" 
       style="width: 350px; xheight: 512px;" >        <h2 class="featurette-heading">Agile development implementations <span class="text-muted">
      It'll blow your mind.</span></h2>
  <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  <p><a class="btn btn-large btn-primary" href="#">Contact Me</a></p>
</div>

<hr class="featurette-divider">



<div class="featurette">
  <img class="xfeaturette-image ximg-circle pull-right"  src="/assets/public/slider-img4.png" xdata-src="/assets/public/holder.js/slider-img1" alt="512x512" 
       style="width: 250px; xheight: 512px;" >        <h2 class="featurette-heading">Web and Mobile development. <span class="text-muted">
      Let me build your project.</span></h2>
  <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  <p><a class="btn btn-large btn-primary" href="#">Contact Me</a></p>
</div>
<hr class="featurette-divider">

<div class="featurette">
  <img class="xfeaturette-image ximg-circle pull-right"  src="/assets/public/cuecumber.png" xdata-src="/assets/public/holder.js/slider-img1" alt="512x512" 
       style="width: 250px; xheight: 512px;" >        <h2 class="featurette-heading">Automatic Testing. <span class="text-muted">
      Let me help you automize your testing</h2>
  <p class="lead">Donec ullamcorper nulla non metus auctor Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  <p><a class="btn btn-large btn-primary" href="#">Contact Me</a></p>
</div>
<hr class="featurette-divider">

<div class="featurette">
  <img class="xfeaturette-image ximg-circle pull-right"  src="/assets/public/rails.png" xdata-src="/assets/public/holder.js/slider-img1" alt="512x512" 
       style="width: 200px; xheight: 512px;" >        <h2 class="featurette-heading">Move to Ruby on Rails. <span class="text-muted">
      Let me help you to migrate the team to ruby.</span></h2>
  <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  <p><a class="btn btn-large btn-primary" href="#">Contact Me</a></p>
</div>
<hr class="featurette-divider">

<div class="featurette">
  <img class="xfeaturette-image ximg-circle pull-right"  src="/assets/public/angularjs.png" xdata-src="/assets/public/holder.js/angularjs" alt="512x512" 
       style="width: 250px; xheight: 512px;" >        
  <h2 class="featurette-heading">Move to AngularJS. <span class="text-muted">
      Let me help you migrate to AngularJS.</span></h2>
  <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  <p><a class="btn btn-large btn-primary" href="#">Contact Me</a></p>
</div>
<hr class="featurette-divider">


<!-- /END THE FEATURETTES -->